<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title%></title>
    <%- include ('partials/head') %>
    <title>About</title



    <h1> GECCO </h1>
    
    <P> Gecco, tu destino definitivo para soluciones de gestión comercial eficientes y estratégicas. En un mundo empresarial en constante evolución, entendemos la importancia 
        de optimizar tus operaciones para lograr el éxito sostenible.</P>
     <p>En en Gecco, nos enorgullece ofrecer a empresas de todos los tamaños las herramientas y conocimientos necesarios para tomar decisiones informadas y alcanzar sus objetivos comerciales. Nuestro equipo de expertos en gestión y estrategia comercial está comprometido en 
        brindarte soluciones personalizadas que se adapten a tus necesidades únicas.</p>

    
 
    
</body>
</html>