<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title><%= title%></title>
=======
    <%- include ('partials/head') %>
    <title>About</title>
>>>>>>> 1de1cf5e257c976d07a1d1d52791494d0a092e48
</head>
<body>
    <%- include ('partials/navigation') %>
    <h1> esta es la pgina de about</h1>
    
</body>
</html>