<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head') %>

    <title><%= title %></title>
</head>

<body>
    <%- include ('partials/navigation') %>
  <header class="container  vh-100 d-flex justify-content-center">
    <div class="justify-content-center align-items-center"></div>
    <h1 class="display-1 my-5 fw-bold"> Gecco </h1>
    <img src="/img/descarga.png" alt="imagen de fondo" class="w-05">
    <img src="/img/LOGO.png" alt="imagen de fondo" class="w-10">
    <a href="/nosotros" class="btn btn-primary"> ingresa</a>
    </div>
  </header>
<div class="container"> 
    <H1 class="display-1 d-flex justify-content-center">Mision</H1>
<p class="d-flex justify-content-center">
     es una empresa comercializadora de juegos de azar y multiservicios; comprometida en satisfacer las necesidades de nuestros clientes, colaboradores y accionistas, a través de una gran red comercial, tecnológica y administrativa, apoyada en un talento humano orientado por sólidos principios 
    éticos y morales que construyen y garantizan la calidad en el servicio. 
    <h2 class="display-1 d-flex justify-content-center">Vision</h2>
<p class="d-flex justify-content-center">
    Ser para el 2025, la empresa líder en el Huila y modelo nacional en el proceso de comercialización de juegos de suerte y azar y otros productos y servicios; a través de nuestra plataforma tecnológica, comercial  y una sólida estructura organizacional que 
    proyecte confianza y fidelización en toda la comunidad en general.
</body>
</html>